events {
    worker_connections 1024;
}

http {
    server {
        listen 8081; # Changement de port
        server_name localhost;
        root /var/www/html/public;
        index index.php index.html; # Ajout de l'index

        location / {
            try_files $uri $uri/ /index.php?$query_string; # Amélioration de la gestion des URL
        }

        location ~ \.php$ {
            try_files $uri =404; # Gestion des erreurs 404
            fastcgi_split_path_info ^(.+\.php)(/.+)$; # Gestion des informations de chemin
            fastcgi_pass php-fpm:9000;
            fastcgi_index index.php; # Spécification de l'index FastCGI
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_param APP_ENV dev;
            fastcgi_param PATH_INFO $fastcgi_path_info;
        }

        access_log off;
        error_log /dev/stdout;
    }
}